.kt-footer__copyright {
    background-color: #f1f1f1; /* Màu nền */
    color: #333; /* Màu chữ */
    padding: 10px; /* Khoảng cách bên trong */
    text-align: center; /* Căn giữa nội dung */
    font-size: 14px; /* Kích thước chữ */
    border-top: 1px solid #ddd; /* Đường viền trên */
}
